<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div id="calculator">
	<div class="container">
		<form [formGroup]="calcForm">
			<h1>Simple Web Calculator</h1>
			<p>Enter two numbers below and choose your operand</p>
			<label for="firstnumber">First Number:</label>
			<input type="number" name="firstnumber"/>
			<br />
			<label for="secondnumber">Second Number:</label>
			<input type="number" name="secondnumber"/>
			<br />
			<button type="button" (click) = "submitForm('+')">+</button>
      <button type="button" (click) = "submitForm('-')">-</button>
      <button type="button" (click) = "submitForm('*')">*</button>
      <button type="button" (click) = "submitForm('/')">/</button>
		</form>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
